<article>
    <header>
        <h3>Catálogo: Clasificadores Presupuestales (MEF)</h3>
    </header>
    <div class="grid">
        <div>
            <details close>
                <summary role="button" class="secondary outline">​📒 Registrar Clasificador</summary>
                <h4>Registrar Clasificador</h4>
                <form hx-post="/admin/mef/crear" hx-target="#lista-mef" hx-swap="innerHTML">
                    <div class="grid">
                        <input type="number" name="anio" value="2026" placeholder="Año" required>
                        <input type="text" name="codigo" placeholder="Código (ej. 2.1. 1 1)" required>
                        <input type="number" name="nivel" min="1" max="6" placeholder="Nivel (1-6)" required>
                    </div>
                    <input type="text" name="descripcion" placeholder="Descripción" required>
                    <select name="tipo_transaccion" required>
                        <option value="Gasto">Gasto</option>
                        <option value="Ingreso">Ingreso</option>
                    </select>
                    <button type="submit">Guardar Clasificador</button>
                </form>
            </details>
            <hr>
            <details close>
                <summary role="button" class="secondary outline">📤 Importación Masiva (CSV)</summary>
                <h4>Importación Masiva (CSV)</h4>
                <p><small>Sube el archivo oficial del MEF. Columnas requeridas: ANIO, CLASIFICADOR, DESCRIPCION.</small>
                </p>

                <form hx-post="/admin/mef/importar" hx-encoding="multipart/form-data" hx-target="#lista-mef"
                    hx-swap="innerHTML">
                    <input type="file" name="archivo_csv" accept=".csv" required>
                    <button type="submit" class="secondary">Importar Catálogo</button>
                </form>
            </details>

        </div>
        <div>
            <h4>Mantenimiento</h4>
            <p><small>Ejecuta la vinculación de jerarquías (Padre/Hijo) para un año específico si los datos se
                    desincronizan.</small></p>

            <form hx-post="/admin/mef/vincular" hx-target="#lista-mef" hx-swap="innerHTML">
                <fieldset role="group">
                    <input type="number" name="anio_vincular" value="2026" style="max-width: 120px;margin-right: 10px;"
                        required>
                    <button type="submit" class="outline">Re-vincular Jerarquía</button>
                </fieldset>
            </form>
        </div>

    </div>
    <div class="grid">
        <div>
            <div id="lista-mef" hx-get="/admin/mef" hx-trigger="load">
                <p aria-busy="true">Cargando clasificadores...</p>
            </div>
        </div>
    </div>
</article>